.borderStyleTable {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;

}

#accepterDemande{
    color: #ffffff;
    text-decoration: none;
}
#refuserDemande{
    color: #ffffff;
    text-decoration: none;
}
#supprimerAmi{
    color: #ffffff;
    text-decoration: none;
}
#envoyerMessage{
    color: #ffffff;
    text-decoration: none;
}
#inviterMatch{
    color: #ffffff;
    text-decoration: none;
}