#msgConnexion {
    color: white;
}

#container{
    width:700px;
    margin: 10px auto 0;
    color: white;
    font-weight: bold;
}

form {
    width:100%;
    padding: 30px;
    border-radius: 3%;
    background: #0b0132;
}


form h1 {
    color: white;
    text-align: center;
    margin-bottom: 15%;
}

.civilite {
    margin-left: 0px;
}
input[type=email], input[type=password], input[type=number], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#prenom {
    margin-top: 50px;
    display: block;
}

#LabelPoste{
    margin-left: 100px;
}

input[type=submit] {
    background-color: #FF6F6F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #FF6F6F;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 15%;
}

input[type=submit]:hover {
    background-color: white;
    color: #FF6F6F;
    border: 1px solid #FF6F6F;
}
