
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.barreRecherche{
    width:40%;
    top: 10%;
    margin-left: 30%;
}

#mesMatchs {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#rechercherMatchs{
    color: #ffffff;
    text-decoration: none;
}
#discuterMatch{
    color: #ffffff;
    text-decoration: none;
}
#agendaMatchs{
    color: #ffffff;
    text-decoration: none;
}
#buttonRetirer{
    background-color: #4365ff;

}
#creerMatch{
    color: #ffffff;
    text-decoration: none;
}
.btn-group-vertical > button{
    margin-bottom:15px;
    border-radius:10px !important;
}
#imageMatch{
    border-radius: 20px;
    margin-top: 10px;
    width:60%;
    height: 60px;
    margin-left: 20px;
}
#imageMatch img {
    width:100%;
    height: 100px;
    margin-left: 35px;
    border-radius: 10px;
}
#imageMatchAmis img{
    width:50%;
    height: 50px;
    border-radius: 10px;
}
#buttonAjouterPhotos{
    margin-top: 4%;
    float: right;
}
#consulterMatch{
    color: #ffffff;
    text-decoration: none;
}
#retirerMatch{
    color: #ffffff;
    text-decoration: none;
}
#ajouterPhotos{
    color: #ffffff;
    text-decoration: none;
}
#participerMatch{
    color: #ffffff;
    text-decoration: none;
}
.card-body h5{
    margin-top: 30px;
}

#buttonsMatch button{
    float: left;
    margin-left: 20px;
}
#idCard{
    width: 17rem; margin-bottom:10px; text-align:center;display:inline-block;
}
#dateMatch{
    height: 50px;
    display: flex;
    margin-top: 2%;
    align-items: center;
}
#InputImageMatch{
    display: flex;
    margin-top: 2%;
    align-items: center;
}
#heureMatch{
    display: flex;
    margin-top: 2%;
    align-items: center;
}
#heureMatch label {
    cursor: pointer;
    color: #03023f;
    font-weight: bold;
}
#dateMatch label {
    cursor: pointer;
    color: #03023f;
    font-weight: bold;
}
input[type='file'] {
    color: transparent;
}
#NbJoueurs label{
    cursor: pointer;
    color: #03023f;
    font-weight: bold;
}
#InputImageMatch label {
    cursor: pointer;
    color: #03023f;
    font-weight: bold;
}

.btnCreerMatch{
    margin-left: 60%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.btnAjouterPhoto{
    margin-left: -10%;
}
.match-header-img img {
    max-width: 100%;
}
.table.table-match.value {
    font-weight: 500;
}
.match-header  {
    position: relative;
    overflow: hidden;
}


.match-header .match-header-cover {
    background: url(https://www.sportingsols.com/media/terrain_hybride_airfibr_-_sportingsols_construction_de_terrains_de_football_synthetiques.jpg) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.match-header .match-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}
.match-header .match-header-content,
.match-header .match-header-tab,
.match-header-img,
body .fc-icon {
    position: relative;
}
.match-header .match-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}
.match-header .match-header-tab > li {
    display: inline-block;
    margin: 0;
}
.match-header .match-header-tab  > li > a {
    cursor: pointer; color: #08026c;
    transition: all .1s;
    border-bottom: 3px solid #00ff3d;
}

#titreInformationMatch {
    border-bottom: 3px solid orange;
}
.match-header .match-header-tab > li.active > a,
.match-header .match-header-tab > li > a.active {
    color: #007aff;
}
.match-header .match-header-content:after,
.match-header .match-header-content:before {
    content: "";
    display: table;
    clear: both;
}
.match-header .match-header-content {
    color: #fff;
    padding: 1.25rem;
}

.match-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}

.match-container {
    padding: 1.5625rem;
}
@media (max-width: 967px) {
    .match-header-img {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0;
    }
    .match-header-info {
        margin-left: 6.5625rem;
        padding-bottom: 0.9375rem;
    }
    .match-header .match-header-tab {
        padding-left: 0;
    }
}
@media (max-width: 767px) {
    .match-header .match-header-cover {
        background-position: top;
    }
    .match-header-img {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
    }
    .match-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }
    .match-header-info h4 {
        margin: 0 0 0.3125rem;
    }
    .match-header .match-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }

}






