#mesMatchs {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#rechercherMatchs{
    color: #ffffff;
    text-decoration: none;
}
#creerMatch{
    color: #ffffff;
    text-decoration: none;
}
.btn-group-vertical > button{
    margin-bottom:15px;
    border-radius:10px !important;
}
#imageMatch{
    border-radius: 20px;
    width:60%;
    height: 60px;
    margin-left: 20px;
}
#tdImage{
    width:200px
}
#consulterMatch{
    color: #ffffff;
    text-decoration: none;
}
#participerMatch{
    color: #ffffff;
    text-decoration: none;
}